footer {
    position: absolute;
    background-color: black;
    padding: 1rem 2rem;
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: auto;
    bottom: 0;

    .footer_texto {
        color: white;
    }
}