.navegacion1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin-top: 20px;
        color: black;
    }
}