@media screen and (max-width: 768px) {
    .contenedor-head {
        height: 600px;

        .navegacion {
            grid-template-columns: 10% 10% 60% 10% 10%;
        }

        .btn1 {
            font-size: 12px;
        }
    }

    .heading {
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;

        h1 {
            font-size: 12px;
            margin: 0;
            padding: 0;
        }
    }

    .contenedor-productos {
        padding-left: 75px;
        padding-right: 75px;

        .contenedor-card {
            height: 10rem;
            padding: 0;

            h3 {
                margin: 2px;
                font-size: 10px;
            }
        }
    }

    .contenedor-nos {
        padding: 0;
        flex-direction: column;
        flex-wrap: wrap;

        .nos {
            padding: 20px;
            flex-direction: column;

            .nos-img {
                margin-bottom: 20px;
            }

            .nos-content {
                h2 {
                    font-size: 12px;
                }

                p {
                    padding: 0;
                    font-size: 12px;
                }
            }
        }
    }

    .contenedor-dev {
        .dev {
            h2 {
                font-size: 12px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    footer {
        padding: 0.5rem 1rem;

        .footer_texto {
            font-size: 10px;
        }
    }

    .nav-link {
        font-size: 14px;
    }

    .logo {
        max-width: 100px;
    }

    .b {
        visibility: hidden;
    }

    button {
        max-width: 100px;
    }

    .titulo {
        font-size: 12px;
        margin: 20px auto;
    }

    .titulo1 {
        font-size: 12px;
        margin: 20px;
        padding-top: 10px;
    }
}