@media screen and (max-width: 425px){
    .contenedor-productos{
        padding-left: 37.5px;
        padding-right: 37.5px;
        .contenedor-card {
            height:12rem;
            padding: 0;
        
            h3 {
                margin: 2px;
                font-size: 10px;
            }
        }
    }
} 