@media screen and (max-width: 1440px){
    .contenedor-productos {
        padding-left: 80px;
        padding-right: 80px;

        .contenedor-card {
            height: 22rem;
            padding: 0;
        }
    }
    .nos-img{
        height: 480px;
    }
}
